extends includes/template

block title
	title Skeleton
block content
	.wrap
		header.head
			a(href="").logo
				img(src="", alt="")
			nav.menu
				ul
					li
						a(href="").menu__item Home
					li
						a(href="").menu__item About
					li
						a(href="").menu__item Contact
			.search
			.accardeon
		main.content
			.content__head
				.content__title
					h1 Web Design
				.content__text
					p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum , ut fermentum massa justo sit amet erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna.
				.button__wrap
					button Really?
				.button__wrap
					button.video-button
			.content__cols-wrap.clearfix
				.col4x
					a(href="").content__element
						h2.element__title Amet Condimentum
						p.element__info Dolor
				.col4x
					a(href="").content__element
						h2.element__title Lorem Cursus 
						p.element__info Ligula
				.col4x
					a(href="").content__element
						h2.element__title Condimentum Ultricies
						p.element__info Consectetur
				.col4x
					a(href="").content__element
						h2.element__title Ridiculus Ornare
						p.element__info Ullamcorper
		footer
			.info
				.info__cols-wrap.clearfix
					.col3x
						.info__item
							h3.info__title Follow us
							ul
								li
									a.info__el(href="") Twitter
								li
									a.info__el(href="") Faceboook
								li
									a.info__el(href="") Linkedin
								li
									a.info__el(href="") Pinterest
								li
									a.info__el(href="") YouTube
					.col3x
						.info__item
							h3.info__title Get To know us
							ul
								li
									a.info__el(href="") About
								li
									a.info__el(href="") Policies
								li
									a.info__el(href="") Careers
								li
									a.info__el(href="") Press
								li
									a.info__el(href="") Developers
					.col3x
						.info__item
							h3.info__title Locations
							ul
								li
									a.info__el(href="") Detroit
								li
									a.info__el(href="") London
								li
									a.info__el(href="") Florida
								li
									a.info__el(href="") Las Vegas
								li
									a.info__el(href="") California
				.info__mission
					.info__item
						h3.info__title Our Mission
						p.info__text Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur 
		.copyright
			p.copyright__text Copyright © 2016 @samiralley