@@include('../chunks/head.html')
</head>

<body>

<div id="page-wrapper" class="page-wrapper">
    <div class="body-bg">
        @@include('../chunks/header.html')
        <div id="page-body" class="page-body">
        @@include('../chunks/section.html')
        </div>
    </div>
    @@include('../chunks/section-twoo.html')
    @@include('../chunks/footer.html')
</div>


<!-- scripts
___________________________________________________________________________-->

@@include('../chunks/scripts.html')
</body>
</html>
