
<div class="row">
  <div class="col-md-6 pr7px">
    <div class="clearfix">
      <div class="list-group"><a href="#" class="list-group-item"><i aria-hidden="true" class="fa fa-home fa-fw"></i>  Home</a><a href="#" class="list-group-item"><i aria-hidden="true" class="fa fa-book fa-fw"></i>  Library</a><a href="#" class="list-group-item"><i aria-hidden="true" class="fa fa-pencil fa-fw"></i>  Applications</a><a href="#" class="list-group-item"><i aria-hidden="true" class="fa fa-cog fa-fw"></i>  Settings</a><a href="#" class="list-group-item"><i aria-hidden="true" class="fa fa-home fa-fw"></i>  Home</a><a href="#" class="list-group-item"><i aria-hidden="true" class="fa fa-book fa-fw"></i>  Library</a><a href="#" class="list-group-item"><i aria-hidden="true" class="fa fa-pencil fa-fw"></i>  Applications</a>
        <div class="contact-list">
          <div class="item">(912) 555-1234<br/>(912) 555-5678</div>
          <div class="item">1600 Pennsylvania <br/>Ave NW, Washington <br/>DC 20500, USA</div>
          <div class="item">hello@website.com<br/>office@website.com</div>
        </div>
      </div>
      <div class="submenu">
        <div class="item"> 
          <div class="title">Tech</div>
          <div class="li-item"><a href="#">Software & Apps</a></div>
          <div class="li-item"><a href="#">Software & Apps</a></div>
          <div class="li-item"><a href="#">Software & Apps</a></div>
        </div>
        <div class="item active">
          <div class="title">Tech</div>
          <div class="li-item"><a href="#">Software & Apps</a></div>
          <div class="li-item"><a href="#">Software & Apps</a></div>
          <div class="li-item"><a href="#">Software & Apps</a></div>
          <div class="li-item"><a href="#">Software & Apps</a></div>
        </div>
        <div class="item"> 
          <div class="title">Tech</div>
          <div class="li-item"><a href="#">Software & Apps</a></div>
          <div class="li-item"><a href="#">Software & Apps</a></div>
          <div class="li-item"><a href="#">Software & Apps</a></div>
        </div>
        <div class="item"> 
          <div class="title">Tech</div>
          <div class="li-item"><a href="#">Software & Apps</a></div>
          <div class="li-item"><a href="#">Software & Apps</a></div>
          <div class="li-item"><a href="#">Software & Apps   </a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 pl7px">
    <div class="row">
      <div class="col-md-6 pr7px">
        <div class="social-menu">
          <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Google +</a></li>
            <li><a href="#">Rss Feeds</a></li>
            <li><a href="#">Pinterest</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 pl7px">
        <div class="widget facebook">
          <div class="title">(icon)</div>
          <div class="calc-users">123K</div>
          <div class="follow">follow (icon)</div>
        </div>
        <div class="widget twitter">
          <div class="title">(icon)</div>
          <div class="calc-users">123K</div>
          <div class="follow">follow (icon)</div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="sign-in">
          <div class="title">Sign In</div>
          <div class="p">Just select your favorite social network to get started</div><a href="#" class="soc-btn">f</a><a href="#" class="soc-btn">tw</a><a href="#" class="soc-btn">g+</a><a href="#" class="soc-btn">in</a>
        </div>
        <div class="sign-in">
          <div class="title">Join the Newsletter</div>
          <div class="p">Sign up for our personalized daily newsletter</div>
          <form class="navbar-form">
            <div class="form-group">
              <input type="text" placeholder="Enter email address" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-danger">SIGN UP </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>