.row
  .col-md-6.pr7px
    .clearfix
      .list-group
        a.list-group-item(href='#')
          i.fa.fa-home.fa-fw(aria-hidden='true')
          |   Home
        a.list-group-item(href='#')
          i.fa.fa-book.fa-fw(aria-hidden='true')
          |   Library
        a.list-group-item(href='#')
          i.fa.fa-pencil.fa-fw(aria-hidden='true')
          |   Applications
        a.list-group-item(href='#')
          i.fa.fa-cog.fa-fw(aria-hidden='true')
          |   Settings
        a.list-group-item(href='#')
          i.fa.fa-home.fa-fw(aria-hidden='true')
          |   Home
        a.list-group-item(href='#')
          i.fa.fa-book.fa-fw(aria-hidden='true')
          |   Library
        a.list-group-item(href='#')
          i.fa.fa-pencil.fa-fw(aria-hidden='true')
          |   Applications
        .contact-list
          .item
            | (912) 555-1234
            br
            | (912) 555-5678
          .item
            | 1600 Pennsylvania 
            br
            | Ave NW, Washington 
            br
            | DC 20500, USA
          .item
            | hello@website.com
            br
            | office@website.com
      .submenu
        .item 
          .title
            | Tech
          .li-item
            a(href="#")
              | Software & Apps
          .li-item
            a(href="#")
              | Software & Apps
          .li-item
            a(href="#")
              | Software & Apps
        .item.active
          .title
            | Tech
          .li-item
            a(href="#")
              | Software & Apps
          .li-item
            a(href="#")
              | Software & Apps
          .li-item
            a(href="#")
              | Software & Apps
          .li-item
            a(href="#")
              | Software & Apps
        .item 
          .title
            | Tech
          .li-item
            a(href="#")
              | Software & Apps
          .li-item
            a(href="#")
              | Software & Apps
          .li-item
            a(href="#")
              | Software & Apps
        .item 
          .title
            | Tech
          .li-item
            a(href="#")
              | Software & Apps
          .li-item
            a(href="#")
              | Software & Apps
          .li-item
            a(href="#")
              | Software & Apps   
  .col-md-6.pl7px
    .row
      .col-md-6.pr7px
        .social-menu
          ul
            li
              a(href="#")
                | Facebook
            li
              a(href="#")
                | Twitter
            li
              a(href="#")
                | Google +
            li
              a(href="#")
                | Rss Feeds
            li
              a(href="#")
                | Pinterest
      .col-md-6.pl7px
        .widget.facebook
          .title
            | (icon)
          .calc-users
            | 123K
          .follow
            | follow (icon)
        .widget.twitter
          .title
            | (icon)
          .calc-users
            | 123K
          .follow
            | follow (icon)
      .col-md-12
        .sign-in
          .title
            | Sign In
          .p
            | Just select your favorite social network to get started
          a.soc-btn(href="#")
            | f
          a.soc-btn(href="#")
            | tw
          a.soc-btn(href="#")
            | g+
          a.soc-btn(href="#")
            | in
        .sign-in
          .title
            | Join the Newsletter
          .p
            | Sign up for our personalized daily newsletter
          form.navbar-form
            .form-group
              input.form-control(type='text', placeholder='Enter email address')
            button.btn.btn-danger(type='submit') SIGN UP 